/* Lessons learned 

1) Transform Orgin, Transform: rotate, Transform timing function -- qubic berzier(function);


*/

body, html {
	height: 100%;
}

body{
	margin: 0;
	background: url('background.jpeg');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.watchFace{
	border: 10px solid white;
	border-radius: 100%;
	height:650px;
	width: 40rem;
	margin-left: 30%;

}

.hand{
	border:3px solid grey;
	width: 19rem;
	position: absolute;
  	top: 0;
  	left: 0;
  	margin-top: 327.5px;
  	transform-origin: 100%;
  	margin-left: 31.25%;
  	height: 0;
  	transition: all 0.07s;
  	transition-timing-function: cubic-bezier(1, 1.92, 1, 1);


}

.seconds{
	transform: rotate(90deg);

}

.minutes{
	transform: rotate(90deg);

}
.hours{
	transform: rotate(90deg);

}
